<%- include('partials/header.ejs'); %>



<% if (posts.length === 0 ) { %>
  <h1>Home</h1>
  <p>There is nothing new to show to your right now! Check again later or after composing your own post! </p>
<%} %>



<%  for (var i = 0; i <posts.length; i++) { %>

<div class="post">
    <h1> <%= posts[i].title  %></h1>
    <% if (posts[i].body.length > 99) { %>
    <p><%= posts[i].body.slice(0,100) + "..." %>
  <% }  else { %>
    <p><%= posts[i].body %>
  <% } %>
  <a href="/posts/<%= posts[i].title %>">Read More</a>
</div>

<%  } %>

<!-- can also be done with posts.forEach(function(post)) -->



<%- include('partials/footer.ejs'); %>
